
/*card borders
*/


.title1{
		position: relative;
		display: inline-block;
		font-size: 100;
		font-weight: 800;
		text-transform: uppercase;
		font-style: italic;
		color: transparent;
		-webkit-text-stroke-width: 50;
		-webkit-text-stroke-color: white;
		white-space: nowrap;
		text-shadow: 12px 15px #007771, 13px 16px #004642, 14px 17px #015c57, 15px 18px #797979, 16px 19px #46918d;
}
 
.lead{
	margin-top: 30px;
	margin-inline-start: 200px;
	font-size: 100;
	margin-left: 30px;
    color: rgb(0, 0, 0);
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.btn, .jumbotron, .nav:hover {
    border-radius: 0px;
}

/*product image
*/
.product-img{
    min-height: 100px;
}
/* 
.jumbotron h2{
    margin-left:middle;
} */

.linkk{
	color: #007771;
}


@media only screen and (max-width:600px){
    .jumbotron h2{
        margin-top:10px;
    }
}



.product-center {
	text-align: center;
	}

.headingg{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
	align-items: center;
}
/* 
.boxit{
	border-style:outset;
	border-top-style: hidden;
	border-left-style: hidden;
	border-bottom-style: hidden;
} */

.jumbotron {
	background-image: url("C:/Users/HP/Desktop/Random/Projects/sdaproject/frontend/src/back4.jpg"); 
    color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite; */
}

.image1{

    display: flex;
    justify-content: center;
	align-items: center;
}
.addtocartbutton{
	margin-top: 50px;
	justify-content: center;
	align-items: center;

}

.spanchange{
	width: 400px;
}

.loadmorebutton{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
	width: 300px
}
.buttonsearch{
	display: flex;
	justify-content: center;
	align-items: center;
}
.pricee{
	margin-top: px;
}

.pill1{
	background-color:#007771;
	margin-top: 30px;
	border: none;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px ;
	cursor: pointer;
	border-radius: 16px;
	
}
.pill2{
	background-color:#ff2c2c;
	margin-top: 30px;
	border: none;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px ;
	cursor: pointer;
	border-radius: 16px;
	
}

.addedon{
	margin-top: 20px;
	margin-bottom: 40px;
	font-size:x-small;
}


@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/* center container in the middle */
 html {
	 display: grid;
	 min-height: 100%;
}
 body {
	background-image: url("C:/Users/HP/Desktop/Random/Projects/sdaproject/frontend/src/back3.jpeg");
	 display: grid;
	 background: #ffffff;
	 font-family: 'Lato', sans-serif, sans-serif;
	 text-transform: uppercase;
}
 .container {
	 position: relative;
	 margin: auto;
	 overflow: hidden;
	 width: 520px;
     min-height: 200px;
	 background: #ffffff;
	 box-shadow: 5px 5px 15px rgba(128, 127, 127, 0.5);
     border-radius: 10px;
     min-height: 100px;
}
 p {
	 font-size: 0.6em;
	 color: #007771;
	 letter-spacing: 1px; 
    	overflow: hidden;
        text-overflow: ellipsis;
        max-height: 105px;
      
}
 h1 {
	 font-size: 1.2em;
	 color: #4e4e4e;
	 margin-top: -20px;
}
 h2 {
	 color:#007771;
	 margin-top: -5px;
}
 img {
	 width: 290px;
	 margin-top: 10px;
	 margin-bottom: 10px;
}
 .product {
	 position: absolute;
	 width: 40%;
	 height: 100%;
	 top: 10%;
	 left: 60%;
}
 .desc {
	 text-transform: none;
	 letter-spacing: 0;
	 margin-bottom: 17px;
	 color: #4e4e4e;
	 font-size: 0.7em;
	 line-height: 1.6em;
	 margin-right: 25px;
	 text-align: justify;
}
 button {
	 background: #000000;
	 padding: 10px;
	 display: inline-block;
	 outline: 0;
	 border: 0;
     margin: 5px;
     margin-left: 25px;
	 border-radius: 2px;
	 text-transform: uppercase;
	 letter-spacing: 1px;
	 color: #f5f5f5;
	 cursor: pointer;
}
 button:hover {
	 background: #007771;
	 transition: all 0.4s ease-in-out;
}
 .add {
	 width: 67%;
}
 .like {
	 width: 22%;
}
 .sizes {
	 display: grid;
	 color: #d9aab7;
	 grid-template-columns: repeat(auto-fill, 30px);
	 width: 60%;
	 grid-gap: 4px;
	 margin-left: 20px;
	 margin-top: 5px;
}
 .sizes:hover {
	 cursor: pointer;
}
 .pick {
	 margin-top: 11px;
	 margin-bottom: 0;
	 margin-left: 20px;
}
 .size {
	 padding: 9px;
	 border: 1px solid #e0c9cb;
	 font-size: 0.7em;
	 text-align: center;
}
 .size:hover {
	 background: #f0e000;
	 color: #f5f5f5;
	 transition: all 0.4s ease-in-out;
}
 .focus {
	 background: #ba7e7e;
	 color: #f5f5f5;
}



 

ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

 ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
	content: "➕";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "✔️";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
} 

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #007771;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #cecece;
}
 
  /* Style the image inside the centered container, if needed */
  .centered img {
	
	width: 500px;
	border-radius: 10%;
	
	display: flex;
	justify-content: center;
	align-items: center;
  }

.column {
	float: left;
	width: 50%;
	padding: 5px;
  }

  .row::after {
	content: "";
	clear: both;
	display: table;
  }